*{
    font-family: 'outfit';
    color: white;
   
}

.heroContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 100%;
}

.description{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 35px;
    
}

.description h1{
    text-align: center;
    width: 70%;
    font-size: 40px;
    align-self: center;
    width: 700px;

}
.description p{
    width: 50%;
    align-self: center;
    font-size: 24px;
    line-height: 40px;
    backdrop-filter: blur(10px);
    border-radius: 30px;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.button85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 50px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 22px;
}

.button85:before {
    content: "";
    background: linear-gradient(45deg, #161513, #347928);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 50px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: #161513; */
    background: seagreen;
    left: 0;
    top: 0;
    border-radius: 50px;
}

.button85:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.btnResume{
    background: transparent;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 22px;
    transition: 0.5s;
    text-decoration: none;
}

.btnContactMe:hover{
    border: 1px solid #fff;
    transform: scale(1.1);
}

.btnResume:hover{
    border-color: #1e6744;
    transform: scale(1.1);
    
}

.anchorLink{
    text-decoration: none;
}

.name{
    background: seagreen;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media(max-width:460px){
    .description h1 {
        font-size: 31px;
        width: 390px;
        }
    .description p{
        font-size: 25px;
        width: 85%;
    }
}
