.topContainer{
    text-align: center;
    
}

.cardContainer{
    display: flex;
    gap: 50px;
    padding: 50px 70px;
    justify-content: center;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    border: 1px solid white;
}