.topContainer{
    text-align: center;
    
}

.cardContainer{
    display: flex;
    gap: 50px;
    padding: 50px 70px;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 350px;
    height: 550px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #1c2190, rgba(0, 0, 0, 0)) 1 100%;
    font-size: 20px;
        
}
.card > img{
    width: 100%;
    height: 270px;
    margin-top: -3px;

}

.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    list-style:inside;
        
}
.gameSummary {
    background: linear-gradient(270deg, #e2e2e2 10%, #ff0101 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}