*{
    font-family: 'outfit';
}

.credContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0 0 40px 0;
}

.credImg{
    width: 800px;
    border-radius: 20px;
}

@media(max-width:460px) {
    .credImg{
        width: 400px;
    }
}