*{
    font-family: 'outfit';
}

.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 50px;
}

.navMenu{
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    list-style: none;
    font-size: 20px;
    text-decoration: none;
}

.anchorLink{
    text-decoration: none;

}

.anchorLink:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.active{
    background: linear-gradient(270deg, #1c2190 10%, #8c1544 100%);
    padding: 7px;
    border-radius: 20px;
}

.connect{
    padding: 10px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #1c2190 0.36%, #8c1544 102.06%);
    cursor: pointer;
    font-size: 22px;
    transition: 0.5s;
}

.connect:hover{
    transform: scale(1.1);
}

@media(max-width:450px){
    .navMenu{
        display: none;
    }
    header > .navContainer{
        justify-content: center;
        margin-left: 90px;
    }
}