*{
    font-family: 'outfit';
}
.line{
    width: 90%;
    height: 5px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(270deg, #1c2190 10%, #8c1544 100%);
    margin-left: 70px;

}

.mainContainer{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    margin-right: 55px;
    padding: 20px;
    
}

.navMenu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    list-style: none;
    font-size: 20px;
    text-decoration: none;
}

.myInfo{
    display: flex;
    flex-direction: row;
  
    align-items: center;
    font-size: 20px;
}
.braces{
    height: 85px;
}
