*{
    font-family: 'outfit';
}

.line{
    width: 90%;
    height: 5px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(270deg, #1c2190 10%, #8c1544 100%);
    margin-left: 70px;

}

.mainContainer{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    margin-right: 55px;
    padding: 20px;
    
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 50px;
}
.logo{
    width: 100px;
}
.navMenu {
    display: flex;
    flex-direction: row;
    gap: 85px;
    align-items: center;
    list-style: none;
    font-size: 20px;
    text-decoration: none;
}

.myInfo{
    display: flex;
    flex-direction: row;
  
    align-items: center;
    font-size: 20px;
}
.braces{
    height: 85px;
}

@media(max-width:450px){
    .line{
        max-width: 440px;
        margin-left: 20px;
    }
    .mainContainer{
        gap: 0;
    }
    .navContainer{
        display: none;
    }
    .logo{
        display: none;
    }
    .navMenu{
        display: none;
    }
    .myInfo div{
        font-size: 18px;
        width: 255px;
    }
    .myInfo span{
        width: 60px;
    }
    
}